*{
    margin: 0;
    padding: 0;
}

.package-details{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;


}

.package-details h1{
    text-align: center;
    position: absolute;
    top: 30px;


}

.package-container{
    width: 90%;
    height: 60vh;
    background: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.package-container div{
    background: red;
    
    height: 100%;
    
}